doctype html
html(lang="")
  head
    link(rel="stylesheet", href="../styles/main.scss")
  body
    section.main-content
      h1.main-content__heading Hello, this is sample for parcel
      p.main-content__post-desc This is post description

    script(src="../scripts/main.js")
